<!-- Contact List Starts -->
<div>
  @if (this.dataStore.loginId!=2) {
  <div class="contactCss" (click)="this.dataStore.receiverId=2">
    Muskan
  </div>
  }
  @if (this.dataStore.loginId!=3) {
  <div class="contactCss" (click)="this.dataStore.receiverId=3">
    Mummy
  </div>
  }
  @if (this.dataStore.loginId!=1) {
  <div class="contactCss" (click)="this.dataStore.receiverId=1">
    Betu
  </div>
  }
</div>
<!-- Contact list Ends -->

<!-- Chat Window Starts -->
<div class="chat-window">
  <div class="chat-header">
    <h2>{{this.dataStore.getReceiverName(this.dataStore.receiverId)}}</h2>
  </div>
  <div class="chat-messages">

    @for (message of this.dataStore.messages; track $index) {
    <!-- @if (message.receiverId==this.dataStore.receiverId) { -->
    <div class="chat-message" [class.mine]="message.isMine">
      <p>{{ message.text }}</p>
    </div>
    <!-- } -->

    }
  </div>
  <div class="chat-input">

    <input placeholder="Type a message" [(ngModel)]="message" name="message" required>

    <button (click)="sendMessage(message)" color="primary" type="submit">Send</button>


  </div>
</div>
<!-- Chat Window Ends -->
